.App {
  width: 400px;
  height: 400px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
}
